{% extends 'base.html.twig' %}

{% block title %}Последние записи{% endblock %}

{% block body %}
<div class="container">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Свежие записи</h1>
                <p class="lead text-muted">Пример сокращенного текста.</p>
            </div>
        </section>

        {% for post in posts %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p>{{ post.date ? post.date|date('Y-m-d') : '' }}</p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="{{ path('post_show', {'date': post.date | date("Y-m-d"), 'slug': post.slug}) }}">Читать</a>
            </div>
        </div>
        {% else %}
            Нет записей
        {% endfor %}
</div>
{% endblock %}
