{% extends 'base.html.twig' %}

{% block title %}О блоге. Блог о том, что ждет нас в будущем.{% endblock %}
{% block seoDescr %}Блог о том, что ждет нас будушем.{% endblock %}
{% block seoKeywords %}будущее,блог{% endblock %}
{% block ogType %}article{% endblock %}

{% block body %}
    <div class="container">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">О блоге</h1>
            </div>
        </section>

        <div class="album">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <article class="article_content">
                            <p>Привет. Меня зовут Ильдар. Я люблю много читать. Меня увлекает история, а еще больше меня привлекает
                                фантазировать на тему, что же будет происходить дальше, какие перемены нас ждут в обозримом будушем.</p>
                            <p>Иногда в голову приходят невероятные мысли, которые пригодились бы в научно-фантастическом романе.
                                Но, часто эти мысли перерастают в реальную теорию, сценарий развития нашего мира.</p>
                            <p>Это исключительно размышления, местами просто фантазия, местами даже вздор.
                                Но я вас уверяю, вам стоит прочитать эти размышления. Это даст вам возможность <b>всегда быть на шаг вперед</b>.</p>
                            <p>Будьте в курсе, что нас ждет в будущем.</p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
