{% extends 'base.html.twig' %}

{% block title %}А что же дальше? Блог о будущем.{% endblock %}
{% block seoDescr %}Будущее совсем рядом, стремительно развиваются технологии, наука. Мы меняемся с каждым днем, появляются новые вещи, устройства, открытия.{% endblock %}
{% block seoKeywords %}будущее,наука,технологии{% endblock %}
{% block ogType %}website{% endblock %}

{% block body %}
    <div class="container-fluid" style="background: url(/img/b.jpg) center center;box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.3);">
        <section class="jumbotron text-center" style="background: none;">
            <div class="container">
                <div style="background: rgba(255, 255, 255, 0.7);padding: 50px;">
                    <h1 class="jumbotron-heading">Будущее – уже здесь, уже сегодня</h1>
                    <p>Будущее совсем рядом, стремительно развиваются технологии, наука. Мы меняемся с каждым днем,
                        появляются
                        новые вещи, устройства, открытия.</p>
                    <p class="lead">
                        <a class="btn btn-sm btn-primary" href="tg://resolve?domain=you_future">
                            <i class="fab fa-telegram-plane"></i> Открыть в Telegram
                        </a>
                    </p>
                </div>
            </div>
        </section>
    </div>

    <br><br>
    <div class="container">
        <h3>Последние записи</h3>
        <hr>

        <div class="row fk">
            {% for post in posts %}
                <div class="col-md-4">
                    <div class="card mb-1">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p>{{ post.date ? post.date|date('Y-m-d') : '' }}</p>
                            <p class="card-text">{{ post.subTitle }}</p>
                            <a class="btn btn-sm btn-outline-info" href="{{ path('post_show', {'year': post.date | date("Y"), 'month': post.date | date("m"), 'day': post.date | date("d"), 'slug': post.slug}) }}">Читать</a>
                        </div>
                    </div>
                </div>
            {% else %}
                Нет записей
            {% endfor %}
        </div>
    </div>
{% endblock %}
